main {
    display: flex;
    flex-wrap: wrap;
}

/* Welcome letter style */
.welcome {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid;
    background-color: #a0d2eb;
    border-radius: 42px;
    padding: 10px;
}

/* Tile container for blog post */
.post-container {
    border: 1px solid black;
    margin: 20px auto;
    padding: 0px;
    border-radius: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 445px;
    background: linear-gradient(-45deg, #a0d2eb, #8458b3);
}
/* Paragraph style for blog post tile */
.post-container p {
    border: 2px solid;
    text-indent: 25px;
    line-height: 24px;
    padding: 12px;
    background-color: #e5eaf5;
}
/* Header style */
.post-header {
    border-bottom: 1px solid #a28089;
    background-color: #8458b3;
    color: #e5eaf5;
    text-align: center;
    width: 100%;
    height: 42px;
    align-content: center;
    transform: translateY(-20px);
}
 /* Welcome Letter style */
 .welcome-letter {
    border: 1px solid;
    text-indent: 25px;
    line-height: 24px;
    padding: 12px;
    background-color: #e5eaf5;
    font-size: large;
    border-radius: 10px;
 }

 /* Image style */
.post-img {
    height: 300px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post {
    margin: 25px;
    background-color: #e5eaf5;
    padding: 10px;
    line-height: 20px;
    color: black;
    font-size: large;
    text-indent: 25px;
}
/* Button style */
#post-1 {
    border: none;
    font-weight: bold;
    background-color: #a0d2eb;
    color: #8458b3;
    height: 45px;
    font-size: large;
}

#post-1:hover {
    background-color: #d0bdf4;
}

#post-1:active {
    background-color: #e5eaf5;
}

#post-1:visited {
    background-color: #8458b3;
    color: #e5eaf5;
}