html {
    background: linear-gradient(#a0d2eb/*Ice Cold*/, #e5eaf5/*Freeze Purple*/, #d0bdf4/*Med. Purpe*/, #8458b3/*Purple Rain*/, #a28089/*Heavy Purple*/) fixed;
    font-family: sans-serif;
    color: black;
}
/* Update Cards */
.update-card {
    display: flex;
    flex-direction: column;
    border: 2px solid #a0d2eb;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 100px;
    background-color: #8458b3;
    border-radius: 10px;
    color: #e5eaf5;
}

.update-card a:hover {
    transform: scale(1.1) rotate(5deg) skew(5deg);
    transition: transform .5s ease-in-out;
    color: #f5f5dc;
}

/* Headings */

h1 {
    text-align: center;
    color: #8458b3;
    text-shadow: 2px 2px 4px #e5eaf5;
}

/* Navigation bar */
.nav-bar {
    height: 50px;
    background-color: #8458b3;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    transform: translateY(-15px);
    border-radius: 10px;
}

.nav-bar li {
    display: flex;
    height: 50px;
    width:70px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bolder;
    font-family: sans-serif;
    transform: translateX(-20px);
}

.nav-bar li:hover { 
    transform: scale(1.3) translateX(-20px) rotate(365deg);
    transition: transform .5s ease-in-out;
}

.nav-bar a {
    color: #f5f5dc;
    text-decoration: none;
}

.nav-bar a:hover {
    color: rgb(98, 136, 84);
}

/* Site Message */
.message {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: linear-gradient(2deg, gray 40%, rgba(255, 255, 0, .5) 50%, gray 60%);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
}
