/* Primary Styles for pages */
html {
    background: linear-gradient(#a0d2eb/*Ice Cold*/, #e5eaf5/*Freeze Purple*/, #d0bdf4/*Med. Purpe*/, #8458b3/*Purple Rain*/, #a28089/*Heavy Purple*/) fixed;
    font-family: sans-serif;
    color: black;
}
/* Update Cards */
.update-card {
    display: flex;
    flex-direction: column;
    border: 2px solid #a0d2eb;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 100px;
    background-color: #8458b3;
    border-radius: 10px;
    color: #e5eaf5;
    width: 100%;
    min-width: 400px;
}

.update-card a:hover {
    transform: scale(1.1) rotate(5deg) skew(5deg);
    transition: transform .5s ease-in-out;
    color: #f5f5dc;
}

/* Headings */

h1 {
    text-align: center;
    color: #8458b3;
    text-shadow: 2px 2px 4px #a28089;
}

/* Navigation bar */
.nav-bar {
    height: 50px;
    background-color: #8458b3;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    transform: translateY(-15px);
    border-radius: 10px;
}

.nav-bar li {
    display: flex;
    height: 50px;
    width:70px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bolder;
    font-family: sans-serif;
    transform: translateX(-20px);
}

.nav-bar li:hover { 
    transform: scale(1.3) translateX(-20px) rotate(-5deg);
    transition: transform .5s ease-in-out;
}

.nav-bar a {
    color: #f5f5dc;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #d0bdf4;
}

/* Site Message */
.message {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: linear-gradient(2deg, gray 40%, rgba(255, 255, 0, .5) 50%, gray 60%);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
}

/*---- Styles for Blog pages ----*/
main {
    display: flex;
    flex-wrap: wrap;
}

/* Welcome letter style */
.welcome {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid;
    background-color: #a0d2eb;
    border-radius: 42px;
    padding: 10px;
    text-shadow: 2px 2px 4px #8458b3, -2px -2px 4px #a28089;
}

/* Tile container for blog post */
.post-container {
    border: 1px solid black;
    margin: 20px auto;
    padding: 0px;
    border-radius: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 445px;
    background: linear-gradient(-45deg, #a0d2eb, #8458b3);
}
/* Paragraph style for blog post tile */
.post-container p {
    border: 2px solid;
    text-indent: 25px;
    line-height: 24px;
    padding: 12px;
    background-color: #e5eaf5;
}
/* Header style */
.post-header {
    border-bottom: 1px solid #a28089;
    background-color: #8458b3;
    color: #e5eaf5;
    text-align: center;
    width: 100%;
    height: 42px;
    align-content: center;
    transform: translateY(-20px);
    text-shadow: 2px 2px 4px #8458b3, -2px -2px 4px #a28089;
}
 /* Welcome Letter style */
 .welcome-letter {
    border: 1px solid;
    text-indent: 25px;
    line-height: 24px;
    padding: 12px;
    background-color: #e5eaf5;
    font-size: large;
    border-radius: 10px;
 }

 /* Image style */
.post-img {
    height: 300px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post {
    margin: 25px;
    background-color: #e5eaf5;
    padding: 10px;
    line-height: 20px;
    color: black;
    font-size: large;
    text-indent: 25px;
}
/* Button style */
#post-1 {
    border: none;
    font-weight: bold;
    background-color: #a0d2eb;
    color: #8458b3;
    height: 45px;
    font-size: large;
    width: 100%;
}

#read-more:hover {
    background-color: #d0bdf4;
}

#read-more:active {
    background-color: #e5eaf5;
}

#read-more:visited {
    background-color: #8458b3;
    color: #e5eaf5;
}